<!doctype html>
<html> 
  <head> 
    <meta http-equiv="content-type" content="text/html;charset=utf-8"> 
    <title>Snippy</title> 
    <link rel="icon" type="image/vnd.microsoft.icon" href="static/favicon.ico">
    <link rel="stylesheet" href="/static/snippet_min.css"> 
    <link rel="stylesheet" href="/static/highlight.css"> 
    <link rel="stylesheet" href="/static/highlight.css"> 
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/snippy.js"></script>
  </head> 
  <body> 
    <div id='flybar'>
      <div class="navigation"><a href='/'>Top</a></div>
      <div class="navigation"><a href='/add'>Create</a></div>
    </div>
    <div id='main'> 
      {{ name }}
    </div>
  </body>
</html>
