<html> 
  <head> 
    <meta http-equiv="content-type" content="text/html;charset=utf-8"> 
    <title>snippet_min</title> 
    <link rel="stylesheet" href="/static/snippet_min.css"> 
    <link rel="stylesheet" href="/static/highlight.css"> 
    <link rel="icon" type="image/vnd.microsoft.icon" href="static/favicon.ico">
    <script type="text/javascript" src="/static/jquery.min.js"></script>
  </head> 
  <body> 
    <div id='main'>
      <form action="/admin/create" method="post">
	User: <input type="text" name="name" value="" size="15" maxlength="40"/></br>
	Password: <input type="password" name="password" value="" size="15" maxlength="40"/></br>
	Admin: <input type="checkbox" name="admin" /></br>
	<p><input type="submit" value="Create"/></p>
      </form>
    </div>
  </body>
</html>
